/* All tag */
.font-family{
  font-family: 'Source Sans 3', sans-serif;
}

.btn-containar{
padding: 8px 24px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #FFF;

/* Shadow/1 */
box-shadow: 0px 20px 40px 0px rgba(255, 174, 0, 0.29), 
0px 5px 10px 0px rgba(255, 174, 0, 0.26);
}

/* bannar section */

.bannar-containar{
max-width: 1920px;
}

.btn-primary{
  display: flex;
  padding: 10px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
 background: linear-gradient(138deg, #FF7A7A 0%, #F65900 100%);
}

.details-containar{
/* padding: 80px 0px;
gap: 71px; */
padding-top: 70px;
background: linear-gradient(180deg, rgba(255, 206, 103, 0.22) 0%, rgba(253, 237, 202, 0.00) 100%);
}

.cor-btn{
  color: #F17228;
text-align: center;
font-size: 43px;
font-weight: 900;
line-height: 112%; 
}

.popular{
  color: var(--theme-gray-900, #212121);
  text-align: center;
  
  /* Headline 4 Bold */
  font-size: 43px;
  font-style: normal;
  font-weight: 700;

}

.btn-secndary{
  padding: 21px 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
background: var(--theme-warning, #F17228);
/* Shadow/2 */
box-shadow: 0px 20px 40px 0px rgba(250, 99, 35, 0.24), 0px 5px 10px 0px rgba(253, 114, 92, 0.22);
color: var(--theme-white, #FFF);
text-align: center;

/* Button Bold */
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 100%; /* 18px */
}

.btn-bit{
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 16px;
 background: rgba(241, 114, 40, 0.20);
}

.discount{
  display: flex;
  padding: 8px 16px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
background: #F17228;
color: white;
}

.las-btn{

  display: flex;
padding: 21px 48px;
justify-content: center;
align-items: center;
gap: 10px;

border-radius: 14px;
background: linear-gradient(141deg, #FFBA26 0%, #FF9A0E 100%);
box-shadow: 0px 20px 40px 0px rgba(255, 174, 0, 0.29), 0px 5px 10px 0px rgba(255, 174, 0, 0.26);

 color: var(--theme-white, #FFF);
  font-size: 18px;
  font-weight: 700;
  line-height: 100%; /* 18px */
}